@import "../node_modules/ol/ol.css";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


wasserblau = #0082ff
wasserblau = #1b6bb8
wasserblau_light = #cbf3f0
wasserblau_light = #1b6bb848
markerblau = #72bbff
blaugraph = #8ccce3
gruen = #008C46
gruentrans = #008C4666
gruen_high = #008C46
gruen_hi = #afd2ae
uibggrau = #00000020
graublau = #cce7eb

logogruen = #008c46
uigruen = #27975f
uigruen = #579f7b
uigruen = #c4e4d4

//
uibggrau = #ccc
uicardgrau = #eee



:root
	--borderstyle 1px solid #ccc
	--chartborderstyle 3px solid #fff
	--chartborderstyle 1px solid #00000015
	--chartborderradius 4px
	--sidebartextmargin 1px
	--borderstyle none
	--buttonborder 1px solid #00000018
	--dropshadowfilter drop-shadow(0 2px 3px #00000022)
	--dropshadowfilterdarker drop-shadow(0 1px 3px #00000044)
	--activecolordarker #9bb9dd
	--activecolor #b9d0eb
	--activecolordarker #899cb399
	--activecolorgrey #5275a044
	--activecolorgreybrighter #5275a022
	--activecolorbrighter #d4e7f7cc
	--activecolorbrightest #d4e7f777
	--warningred  #ea4545ee
	--windowbg #efefef
	--uibrighter #ffffffcc
	--uibrighter #f7f7f7
	--menubg #aaa
	--menuinactivebg #dbdbdb
	--menuinactivebg #eaeaea
	--menugrau #eee
	--menugrau #eee
	--separatorline 2px solid #00000011
	--thinline 1px solid #00000022
	--logogruen #008c46
	--logorot #f15f5c
	--infobg #44444499
	--infobgopaque #888
	--menubariconsize 42px
	--timelineheight 36px
	// --timelineheight 32px
	--timelinedatebg #33333388
	--menusectionheadercolor #4c88ccff
	--menuheaderline rgba(71, 111, 208, .4)
	--menuheaderline #00000022

body.is-mobile
	--timelineheight 48px

*
	box-sizing border-box
	// color: #2a7b82

html, body
	margin: 0;
	height: 100%;
	font-family: "Noto Sans", sans-serif;
	font-family: "Ubuntu", sans-serif;
	font-weight: 500;
	font-weight: 400;
	font-size: 11pt;
	line-height 1.3
	overscroll-behavior: none;
	color: #000000ee

a
	color: #000000ee

h1, h2, h3, h4, h5 
	font-family: "Ubuntu", sans-serif;
	// font-family: "Noto Sans", sans-serif;
	// font-family sans-serif


//

.wrapper
	position fixed
	left 0
	top 0
	right 0
	bottom 0

.app-container
	position absolute
	right 0
	top 0
	bottom 0



// LOADING 
.loading:after
	position absolute
	content ''
	top calc(45% - 1.25em)
	left calc(50% - 1.25em)
	width 2.5em
	height 2.5em
	background transparent
	border 4px solid #00000022
	border-top 4px solid transparent
	border-bottom 4px solid transparent
	z-index 20000
	border-radius 50%
	animation rotate-spinner 1.5s linear infinite
	pointer-events none

@keyframes rotate-spinner
	from
		transform rotate(0deg)
	to
		transform rotate(360deg)

#ui
#app
	visibility hidden
body.loaded
	#ui
	#app
		visibility visible

/////

#map
	position: fixed;
	top: 0;
	bottom: 44px;
	left: 0;
	width: 100%;

// .map .ol-viewport { background: #00000044; }

.ol-zoom
	right: 12px !important
	top: 24px !important
	left: unset !important;
	display none
	> *
		width 24px
		height 24px

.sidebaropen .ol-zoom
	right 612px !important

// 	bottom: 24px;
// 	display none
	
.ol-attribution
	font-family sans-serif
	opacity .7
	z-index 102
	bottom var(--timelineheight) !important
	top unset !important
	// top 0 !important
	// bottom unset !important
	transform translate(100%, 0) rotate(-90deg)
	transform-origin 0 100%
	border-top-right-radius 6px !important
	border-top-left-radius 0 !important
	// border-bottom-left-radius 4px !important
	ul li
		font-size 8pt
		color #333
		a
			color #333
			&:hover
				text-decoration underline
.minimap .ol-attribution
	top unset !important
	bottom 0 !important
	border-top-left-radius 4px !important
	border-bottom-left-radius 0 !important

.sidebaropen .ol-attribution
	right 600px !important


button.ol-zoom-in
button.ol-zoom-out
	font-size 1.3em

menuwidth = 250px

// UI LAYOUT

#app
#ui
	position absolute
	left 0
	top 0
	bottom 0
	right 0
	pointer-events none
	> *
		pointer-events all

#mapcontainer
.fullview
	pointer-events all


.topbar
	position fixed
	left 0
	top 0
	right 0
	display flex
	justify-content space-between
	pointer-events none
	> *
		pointer-events all

.is-mobile .topbar
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
	flex-wrap wrap

.leftui
	position fixed
	left 0
	top var(--menubariconsize)
	margin-top 1px
	// bottom 0
	bottom var(--timelineheight);
	pointer-events none
	display flex
	flex-direction column
	z-index 2
	filter drop-shadow(2px 3px 2px #00000022)
	// filter var(--dropshadowfilterdarker)
	> *
		pointer-events all

.is-mobile .leftui
	bottom 0
	z-index 11


.bottombar
	flex-shrink 0
	flex-grow 0
	flex-basis 44px
	display none
	align-self stretch




// MENU WINDOW

.menuwindows
	pointer-events none
	flex-grow 1
	align-self flex-start
	overflow hidden

.menuwindow
	max-height 100%
	pointer-events all
	display flex
	flex-direction column
	background var(--menugrau)
	background #fff
	padding 0
	min-width 250px
	// border-top-right-radius 9px
	// border-bottom-right-radius 9px
	// border-bottom-left-radius 9px
.is-mobile .menuwindow
	max-width 80vw !important
	
.menuwindow-header
	flex-grow 0
	flex-shrink 0
	display flex
	flex-direction row
	align-items center
	justify-content space-between
	height 42px
	padding 6px 12px
	margin 0
	border-bottom var(--thinline)
	h3
		font-size 13pt
		color #000000bb
		margin 0 0 0

.menuwindow-content
	overflow-y auto
	background #fff
	overflow auto
	// box-shadow 0 1px 2px 2px #00000011
	margin 0
	padding 6px 6px
	h4
		font-weight bold
		padding-top 6px
		margin 2em 4px .5em
		// margin-left 0
		// padding-left 4px
		display block
		color var(--menusectionheadercolor)
		font-size 80%
		font-size 9.5pt
		text-transform uppercase
		border-top var(--thinline)
	& > h4:first-of-type
		border-top none
		margin-top 0
		padding-top 6px


// MENU ITEM


.menu-item
	cursor pointer
	width 100%
	margin 0 0
	padding 4px 6px
	min-height 28px
	border-radius 3px
	border-radius 14px
	overflow hidden
	white-space nowrap
	text-overflow ellipsis
	user-select none

.menu-item.hasselectedbelow
	border-bottom-left-radius 0
	border-bottom-right-radius 0
.menu-item.selected + .menu-item.selected
	border-top-left-radius 0
	border-top-right-radius 0

.menu-item.selected
	background var(--activecolor)
	background var(--activecolorgrey)

.menuwindow-button-row
	display flex
	gap 5px
	flex-direction row

.menuwindow-button
	flex-grow 1
	flex-basis 0
	flex-shrink 0
	border-radius 5px
	background var(--uibrighter)
	border 1px solid #00000022
	border-top 1px solid #00000011
	box-shadow 0 0 2px 2px #00000011
	box-shadow 0 0 2px 2px #00000008
	padding 4px 5px
	white-space nowrap
	cursor pointer
	font-size 90%
	user-select none
	&.active
		background: var(--activecolor)
	&.icon:before
		content ''
		display inline-block
		width 1.1em
		height 1.1em
		margin-left .1em
		margin-right .3em
		margin-bottom -.2em
		background-repeat no-repeat
		background-position center
		background-size 100% 100%
	&.legende:before
		background-image url(/img/legende2.png)
		opacity 1
	&.transparent:before
		background-size 80% 80%
		opacity .7
		background-image url(/img/transparent.png)


.itemrow
	display: flex
	margin: 0
	flex-direction: row


@media (max-width: 600px)
	.itemrow
		gap .2em
		flex-direction column


// SETTINGS

.settings-group:first-of-type
	padding-top .4empx
.settings-group
	padding 8px 8px
	position relative
	font-size 12px
	label.small
		font-size 80%
		margin 0 0 4px
		// opacity .6
		cursor default
	.settingslabel
		margin 0 0 4px

.settings-group + .settings-group
	margin-bottom 10px
	
.settings-item
	margin 4px 0 0
.settings-item + .settings-item
	margin-top 8px


input[type=checkbox]
input[type=radio]
	width 14px
	height 14px
	margin 0
	position relative
	top 2px
	accent-color: #888
	cursor pointer
input[type=radio]
	top 1px

.settings-item
	input + label
		padding-left 6px
		cursor pointer
		display inline-block



// TOOLTIP

.tooltip
	display none
// .tooltip.opaque
// 	--infobg var(--infobgopaque)
.showtooltips .tooltip
	display block
.hastooltip .tooltip
	width: max-content;     
	max-width: 250px;
	white-space: normal;
	overflow-wrap: break-word;
	position: absolute;
	top: calc(100% + 8px);
	left: 5px
	text-align left
	color: white;
	background: var(--infobg);
	font-size 9pt
	padding: 4px 6px
	border-radius: 3px;
	pointer-events: none;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	user-select none
	transition: opacity .2s ease-in, visibility 0s linear .2s;
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.1));

.hastooltip .tooltip:after
	content: '';
	position: absolute;
	top: -7px;
	left: 12px;
	border-style: solid;
	border-width: 0 4px 7px 4px;
	border-color: transparent transparent var(--infobg) transparent;

.hastooltip .tooltip.left
	max-width: 208px
	top: 50%;
	transform translateY(-50%)
	left: auto;
	right: calc(100% + 10px)

.is-mobile .hastooltip .tooltip.left
	max-width 160px;
	right: calc(100% + 8px)

.hastooltip .tooltip.left:after
	top auto
	left auto
	right -8px
	top calc(50% - 5px);
	border-width: 5px 0 5px 8px;
	border-color: transparent transparent transparent var(--infobg) ;


.hastooltip:hover .tooltip
	opacity: 1;
	visibility: visible;
	transition-delay: .25s;

.menubaritem.was-clicked:hover .tooltip
	opacity 0

.menubar.anyactive:not(.soloactive)
.menubar.anyactive
	.tooltip
		display none

// FULL VIEW

.fullview
	background var(--windowbg)
	background #fff
	position fixed
	width 100vw
	height 100vh
	z-index 300

.fullview.iframe
	padding 10px 6px 0
	
.fullview.single
	padding 12px 0 48px
	overflow-y scroll

.fullview.embed 
	.sideview
		margin-right 0


.fullview.embed 
.fullview.qrcode
	.scrollcontent
		box-shadow -2px 0 4px #00000011 inset
		background var(--windowbg)
	.sideview
		border-right 1px solid #00000011
		z-index 10
		box-shadow 2px 0 4px #00000011


.fullviewheader
	background var(--windowbg)
	flex-grow 0
	flex-shrink 0
	min-height 80px
	border-bottom var(--separatorline)
	width 100%
	z-index 2
	display flex
	flex-direction row
	align-items center
	justify-content center

.windowrow
	display flex
	flex-direction row
	width 100%
	height 100%
	overflow hidden
	> .scrollcontent
		padding-right 36px

.windowcol
	display flex
	flex-direction column
	width 100%
	height 100%
	overflow hidden
	// padding-right 10px

.row
	display flex
	flex-direction row
.col
	display flex
	flex-direction column



// .sidebar .windowcol
	// padding-right 54px

.scrollcontent
	flex-grow 1
	overflow-y auto
	padding 0 0 0
	overflow-x hidden


// SIDEBAR

.sidebar
	pointer-events all
	background #fff
	position fixed
	right 0
	top 0
	bottom 0
	width 600px
	max-width 100%
	z-index 100
	box-shadow -2px 0 4px 0 #00000022
	overflow visible

.sidebar.fullwidth
	width 100vw
	z-index 300

@media (max-width: 900px) // mobile full width sidebar
	.sidebar
		width 100vw
		z-index 300
		.windowrow .scrollcontent
			padding-right 0


// MODAL WINDOW


.modalouter
	position fixed
	left 0
	top 0
	right 0
	bottom 0
	display flex
	align-items center	// ← CENTER vertically when it fits!
	justify-content center
	pointer-events none
	z-index 200
	padding 0	// ← optional: give a little breathing room

.modalwindow
	width 800px
	height auto
	max-width calc(100vw - 2em)
	pointer-events all
	position relative
	margin 8px
	background var(--windowbg)
	box-shadow 0 1px 6px 0 #00000044

.modalinner
	max-height 100vh
	padding 0 32px
	overflow-y auto


.modalwindow.info
	background white



// WINDOW BUTTONS

.windowbuttons
	right 0
	top 0
	bottom 0
	margin 0
	width 36px
	padding 6px 0 8px 2px
	flex-grow 0
	// z-index 2
	display flex
	flex-direction column
	align-items center
	justify-content flex-start
	// background #eeeeee55
	// box-shadow 1px 0 4px #00000015 inset
	border-left 1px solid #eee
	position absolute

.windowbuttonsinner
	pointer-events all
	display flex
	flex-direction column
	gap 10px

.windowbuttons.plain
	background transparent
	box-shadow none
	border-left 1px solid transparent
	bottom unset
	&:after
		display none
.windowbuttons.small
	margin-top -2px
	margin-right -4px
	.iconbutton
		width 16px
		height 16px
		opacity .4
		&:hover
			opacity 1

@media (max-width: 900px) 
	.windowbuttons
		background transparent
		box-shadow none
		bottom unset
		z-index 100
		border none
		&:after
		.switchfullwindow
		.more
			display none

.fullview .windowbuttons
	z-index 1000

.iconbutton
	width 24px
	height 24px
	background-size 100% 100%
	background-position center
	background-repeat no-repeat
	opacity .8
	position relative
	cursor pointer
	&:hover 
		opacity .45

.iconbutton.more
	background-image url(/img/morev.png)
.iconbutton.close
	background-image url(/img/close.png)
	background-size 120%
.iconbutton.switchfullwindow
	background-image url(/img/double_arrow_left.png)
	background-image url(/img/fullscreen.png)
	background-image url(/img/dock_left.png)
	background-size 94%
.sidebar.fullwidth .iconbutton.switchfullwindow
	background-image url(/img/double_arrow_right.png)
	background-image url(/img/dock_right.png)

// POPOVER

.popover-menu
	background var(--uibrighter)
	background #fff
	border 2px solid #bcbcbc
	border-radius 8px
	box-shadow 0 2px 8px rgba(0, 0, 0, 0.1)
	z-index 1000
	overflow hidden
	.items
		display flex
		flex-direction column
		margin 0
	.item
		width 100%
		padding 5px 16px
		background none
		border none
		text-align right
		cursor pointer
		font-size 9pt
		font-weight normal
		white-space nowrap
		color #000000cc
		&:hover
			background: var(--activecolorgreybrighter)
		&.active
			color #000000
			background: var(--activecolorgrey)
			pointer-events none
	.second-group
		border-top 1px solid #00000033



///

.separator
	display inline-block
	margin 0 .3em
	opacity .4
	// border-right 1px solid #00000044
	// height 1em
.separator::before
	content '-'

.popover-menu .separator
	margin 0 .3em
	position relative
	// top .125em
	opacity .7

hr
	border none
	border-bottom var(--separatorline)
	margin .8em var(--sidebartextmargin)
	
.chartouterframe
	margin 1.2em 0 .4em
	position relative
	user-select none
	.scrollframe
		background transparent

.chartheader
	display flex
	align-items baseline
	justify-content space-between
	margin-top -.4em
	h3
		margin 0 0 .8em
		margin-left var(--sidebartextmargin)
		font-size 10pt
		color #000000bb
	.latestdate
		font-size 8pt
		font-weight bold
		font-weight normal
		margin-left 1em
		color #000000cc
		&.warning
			color red

.chart-time
	display block
	position relative

.heatmap .chart-time
	border-top 1px solid transparent
.schichten .chart-time
	border-top 1px solid #eee

.value
	font-weight bold
.unit
	display inline-block
	margin-left .15em

///


.hoverline
	position absolute
	top 0
	bottom 0
	width 0
	border-left 1px dotted #00000088
	pointer-events none
	z-index 100
// .hovertriangle
// 	margin-left -3.5px
// 	top -8px
// 	position absolute
// 	border-top 8px solid var(--timelinedatebg)
// 	border-left 5px solid transparent
// 	border-right 5px solid transparent
// 	opacity .6

// .hovertrianglebottom
// 	margin-left -3.5px
// 	bottom -8px
// 	position absolute
// 	border-bottom 8px solid var(--timelinedatebg)
// 	border-left 5px solid transparent
// 	border-right 5px solid transparent
// 	opacity .6

.hover-dot
	stroke-width 0
	pointer-events none

// MARKER

.marker-outer
	opacity 0
.marker-outer.telemetryloaded
	opacity 1

.map-marker
	position: absolute;
	cursor pointer
	width: 20px;
	height: 20px;
	user-select: none
	transform: translate(-50%, -50%);
.map-marker.faux
	transform none
	position relative


.marker-container.mouseover
	z-index 1000

.marker-container
	overflow visible

// .marker-outer.filtered
// 	opacity 0
// 	pointer-events none
// 	*
// 		pointer-events none

.map-marker.alle
	width auto
	height auto
	filter: drop-shadow(0 0 2px rgba(0,0,0,.2));
	transform: translate(-50%, -4px);
	.schichten
		display flex
		flex-direction column
		border-radius 12px
		overflow hidden
		border 2px solid transparent
		.schicht
			display flex
			flex-direction row
			align-items flex-end
			justify-content flex-end
			padding 2px 6px 2px 9px
			&:first-child
				padding-top 4px
			&:last-child
				padding-bottom 4px
			.value
				flex-grow 0
				flex-shrink 0
				flex-basis auto
				white-space nowrap
				font-size 10pt
				text-align right
			.unit
				font-weight normal
				opacity .8
				font-size 90%
		.schicht + .schicht
			margin-top -1px

.map-marker.einzeln
	width auto
	height auto
	.schicht
		padding 2px 6px 2px 8px
		display flex
		flex-direction row
		border-radius 15px
		background wasserblau
		filter: drop-shadow(0 0 2px rgba(0,0,0,.2));
		border 2px solid transparent
		.value
			white-space nowrap
			.unit
				font-weight normal
				opacity .8
				font-size 95%

.map-marker.kreis
	width auto
	height auto
	// filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	.schichten
		border 2px solid #00000033
		filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		// border: 2px solid rgba(68,68,68,.467)
		width 36px
		height 36px
		border-radius 50%
		overflow hidden
		display flex
		flex-direction column
		cursor pointer
		.schicht
			flex-basis 50%
			width 100%
			flex-grow 1

.map-marker.property .propertyicon
	position relative
	left -8px
	top -8px
	width 36px
	height 36px
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	.filtericon
		border 2px solid #00000033
		border-radius 50%


.map-marker.selected .filtered
.map-marker.selected .disabled
.map-marker.selected .schichten
.map-marker.einzeln.selected .schicht
.map-marker.property.selected .propertyicon .filtericon
	border 2px solid #888
	outline 2px solid #ffffffdd
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.45));

.map-marker .disabled
	width auto
	height auto
	width 20px
	height 20px
	border-radius 50%
	background #888
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.2));
	pointer-events none
	font-size 12pt
	display flex
	align-items center
	justify-content center
	color #000
	text-align centers

.map-marker .disabled.warning
	background #ea8d8dff



.marker-outer.filtered
	pointer-events none
	display none

.map-marker .filtered
	pointer-events none
	display none
	width auto
	height auto
	// box-shadow 0 1px 2px 2px #00000011
	width 6px
	height 6px
	margin-left 7px
	border-radius 50%
	background #666
	// border 2px solid #00000077
	pointer-events none
// .map-marker .filtered
// 	width auto
// 	height auto
// 	// box-shadow 0 1px 2px 2px #00000011
// 	width 12px
// 	height 12px
// 	margin-left 4px
// 	border-radius 50%
// 	background #888
// 	// border 2px solid #00000077
// 	pointer-events none


// ICONS


.icon
	position relative
	left 0
	top 0
	width 100%
	height 100%
	background-size 90% 90%
	background-position center center
	background-repeat no-repeat

.orte.icon
	background-image url('/img/sensor.png')
	background-size 77% 77%
	opacity .9

.bodenfeuchte.icon
	background-image url('/img/tropfen.png')
	background-size 45%

.filter.icon
	background-image url('/img/filter.png')
	background-size 95%
	opacity .5

.boeden.icon
	background-image url('/img/soil.png')
	background-size 80% 80%

.error.icon
	background-image url('/img/warningred.png')
	background-size 80% 80%
	opacity .7

.karten.icon
	background-image url('/img/karten.png')
	opacity .9

.glossar.icon
	background-image url('/img/buch.png')
	// background-size 85% 85%
	// opacity .8

.einstellungen.icon
	background-image url('/img/settings.png')
	background-size 85% 85%
	opacity .8

.info.icon
	background-image url('/img/info.png')
	opacity .8
	background-size 70% 70%

.icon.moreinfo
	background-image url(/img/morev.png)
	background-size 70% 70%
	background-color #eeeeeeee
	border-radius 50%
